body {
  font-family: 'Exo 2', sans-serif;
  color: #252626;
  font-size: 16px;
}

a {
  transition: all 0.5s ease;

}
img{width:auto\9;height:auto;max-width:100%;vertical-align:middle;border:0;-ms-interpolation-mode:bicubic;}


.icon {
  display: inline-block;
  vertical-align: top;
}

.wrapper {

}
.header {
  padding: 32px 0 19px 0;
  border-bottom: 1px solid #e6e6e6;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  background: #fff;
  min-height: 142px;
}

.menu {
  display: flex;
  margin: 0;
  padding: 21px 0 0 0;
  li {
      list-style: none;
      margin: 0 32px 0 0;
      position: relative;
      &:after {
        content: '|';
        position: absolute;
        color: #777575;
        right: -17px;
        top: 9px;
        font-size: 8px;
      }
      &:last-child {
        &:after {
          display: none;
        }
      }
      a {
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 500;
        &:hover {
          text-decoration: none;
          color: #215a92;
        }

      }
  }
}

.contactsList {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  li {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0 0 15px 0;
    span {
      display: inline-block;
      vertical-align: top;
      margin-right: 9px;
    }
    a {
      color: #252626;
    }
  }
}

.smartphone {
  background-image: url("../img/svg/smartphone.svg");
  background-size: 30px 30px;
  width: 30px;
  height: 30px;
}
.house {
  background-image: url("../img/svg/house.svg");
  background-size: 30px 30px;
  width: 30px;
  height: 30px;
}

.email {
  background-image: url("../img/svg/email.svg");
  background-size: 30px 30px;
  width: 30px;
  height: 30px;
}

.main {
  padding: 142px 0 0 0;
}

.preambule {
  border-bottom: 1px solid #e6e6e6;
  padding: 90px 0 110px 0;
}

.title {
  padding: 0 0 0 301px;
  h1 {
    font-family: 'EB Garamond', serif;
    font-size: 90px;
    letter-spacing: 8px;
    margin: 0;
    display: inline-block;
    vertical-align: top;
  }
  .arrow {
    background: url("../img/arrow.png") no-repeat;
    width: 229px;
    height: 160px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    left: -103px;
    top: 13px;
  }
}
a.breif {
  color: #fff;
  font-weight: 300;
  background: #7cbc32;
  border-radius: 10px;
  border: 2px solid #549409;
  border-width: 0 2px 2px 0;
  font-size: 24px;
  display: block;
  width: 328px;
  height: 80px;
  line-height: 80px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 2;
  letter-spacing: 2px;
  &:hover,&:focus {
    color: #fff;
    text-decoration: none;
    background: #549409;
  }
}

.works {
  background: #fafafb;
  border-bottom: 1px solid #e6e6e6;
  padding: 102px 0 112px 0;
}

.worksSlider {
  .item {
      figure {
        a {
          display: block;
          position: relative;
          img {
            display: block;
            border: 1px solid #e6e6e6;
          }
          .plus {
            background: url("../img/svg/plus.svg") no-repeat;
            width: 64px;
            height: 64px;
            position: absolute;
            left: 50%;
            top: 50%;
            margin: -32px 0 0 -32px;
            transition: all 0.5s ease;
            &:hover {
              transform: rotate(1turn);
            }
          }
        }
      }
  }
  .owl-dots {
    bottom: -71px;
  }
}
.owl-dots {
  position: absolute;
  width: 100%;
  text-align: center;
  left: 0;
  .owl-dot {
    outline: none;
    span {
      display: inline-block;
      vertical-align: top;
      border-radius: 50%;
      background: #e7e7e7;
      width: 15px;
      height: 15px;
      margin: 0 2px 0 3px;
    }
    &.active {
      span {
        background: #0054a6;
      }
    }
  }
}

.faq {
  padding: 102px 0 86px 0;
  border-bottom: 1px solid #e6e6e6;
}


.faqList {
  &__item {
    list-style: none;
    margin: 0 0 26px 0;
  }
  &__active {
    .faqList__title {
      &:before {
        background: url("../img/minus.png") no-repeat;
        height: 2px;
        margin-top: -1px;
      }
    }
  }
  &__title {
    cursor: pointer;
    margin: 0;
    position: relative;
    padding: 0 0 0 49px;
    font-size: 26px;
    font-weight: 300;
    margin: 0 0 19px 0;
    &:before {
      content: '';
      background: url("../img/plus.png") no-repeat;
      width: 32px;
      height: 32px;
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: -16px;
    }
  }
  &__body {
    display: none;
    padding: 0 0 0 49px;
    font-weight: 300;
    color: #575655;
    line-height: 1.5;
    margin: 0;
    img {
      display: block;
      margin: 15px 0 0 0;
    }
  }
}

.testimonials {
  border-bottom: 1px solid #e6e6e6;
  padding: 102px 0 108px 0;
  background: #fafafb;
  &__quote {
    background: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 2px;
    min-height: 112px;
    position: relative;
    margin: 0;
    padding: 10px 15px 0 15px;
    &:before {
      content: '';
      background: url("../img/quote-arrow.png") no-repeat;
      width: 22px;
      height: 12px;
      position: absolute;
      right: 10px;
      bottom: -12px;
    }
    p {
      font-weight: 300;
      margin: 0;
      font-size: 16px;
      line-height: 1.5;
    }
  }
}

.persone {
  display: flex;
  padding: 17px 38px 0 38px;
  justify-content: space-between;
  align-items: center;
  &__info {
    text-align: right;
    flex-grow: 1;
    padding: 0 10px 0 0;
  }
  &__name {
    margin: 0;
    font-size: 16px;
    font-weight: 300;
  }
  &__text {
    margin: 4px 0 0 0;
    font-size: 14px;
  }
  &__phone {
    color: #252626;
    font-size: 12px;
  }
  &__pic {
    img {
      border: 1px solid #8a8888;
    }
  }
}

.testimonialsSlider {
  .owl-dots {
    bottom: -67px;
  }

}


.contacts {
  border-bottom: 1px solid #e6e6e6;
  padding: 102px 0 0 0;
  background: #fafafb;
}

.mapOuter {
  border-top: 1px solid #e6e6e6;
  display: flex;
  flex-wrap: wrap;
  &__info {
    flex-basis: 572px;
    border-right: 1px solid #e6e6e6;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__map {
    flex-grow: 1;
    iframe {
      width: 100%;
      height: 598px;
    }
  }
}

.social {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 42px 0;
  &__item {
    margin: 0 15px;
    list-style: none;
    a {
      display: block;
      width: 64px;
      height: 64px;
      &.fb {
        background-image: url("../img/svg/fb.svg");
        background-size: 64px 64px;
      }
      &.vk {
        background-image: url("../img/svg/vk.svg");
        background-size: 64px 64px;
      }
      &:hover {
        transform: scale(1.2, 1.2);
      }
    }
  }
}

.pageTitle {
  font-family: 'EB Garamond', serif;
  font-size: 40px;
  margin: 0;
  text-align: center;
  letter-spacing: 3px;
  margin: 0 0 51px 0;
}





/* Adaptive menu */
.slicknav_menu {
  display:none;
}
@media screen and (max-width: 767px) {
  /* #menu is the original menu */
  .menu {
    display:none;
  }

  .slicknav_icon-bar {
    transition: all 0.3s ease-in;
  }
  .slicknav_btn.slicknav_open .slicknav_icon-bar {position: absolute; top: 10px;}
  .slicknav_btn.slicknav_open  .slicknav_icon-bar:first-child {display: none;}
  .slicknav_btn.slicknav_open  .slicknav_icon-bar:nth-child(2) {transform: rotate(45deg);}
  .slicknav_btn.slicknav_open  .slicknav_icon-bar:nth-child(3) {transform: rotate(-45deg);}

  .slicknav_nav ul {
    margin: 0;
  }

  .slicknav_menu {
    display: block;
    background: none;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 11;
    width: 100%;
    padding: 0;
  }
  .slicknav_btn {
    position: absolute;
    right: 13px;
    top: 13px;
    background: #b32b07;
    z-index: 10;
  }
  .slicknav_nav a {
    padding: 20px;
    text-transform: uppercase;
    line-height: 1.4;
    border-radius: 0;
    margin: 0;
  }
  .slicknav_nav .slicknav_row {
    padding: 20px 10px;
    margin: 0;
  }

  .slicknav_nav a:hover,.slicknav_nav .slicknav_row:hover {
    border-radius: 0;
    background-color: #b32b07;
    color: #fff;
  }

  .slicknav_nav li {
    border-radius: 0;
  }


  .slicknav_nav {
    background: #1b1a27;
    height: 100%;
    overflow-y: scroll;
    position: fixed;
    width: 100%;
    padding: 10px 0 0 0;
  }



}
