body {
  font-family: 'Oswald', sans-serif;
  color: #3c3839;
}

a {
  transition: all 0.5s ease;
}
img{width:auto\9;height:auto;max-width:100%;vertical-align:middle;border:0;-ms-interpolation-mode:bicubic;}


.icon {
  display: inline-block;
  vertical-align: top;
}

.wrapper {
  padding: 0 0 240px 0;
  @include breakpoint(sm-down) {
    padding-bottom: 40px;
  }

}
.header {
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #fff;
  height: 105px;
  z-index: 10;
  @include breakpoint(md-down) {
    height: 75px;
  }
  @include breakpoint(sm-down) {
    height: 65px;
  }
}

.menu {
  list-style: none;
  padding: 40px 0 0 0;
  @include breakpoint(md-down) {
    padding-top: 28px;
  }
  li {
    position: relative;
    &:after {
      content: "/";
      color: #b31e1d;
      position: absolute;
      left: -28px;
      top: 2px;
      font-weight: 400;
      @include breakpoint(lg-down) {
        left: -14px;
      }
    }
    &:first-child {
      &:after {
        display: none;
      }
      margin-left: 0;
    }
    float: left;
    font-family: 'Merriweather', serif;
    font-weight: 400;
    margin: 0 0 0 49px;
    @include breakpoint(lg-down) {
      margin-left: 25px;
    }
    a {
      font-size: 18px;
      color: #b31e1d;
      font-weight: 400;
      &:hover {
        text-decoration: none;
      }
      @include breakpoint(md-down) {
        font-size: 14px;
      }
    }
    &.current {
      a {
        text-decoration: none;
        font-weight: 600;
        color: #000000;
      }
    }
  }
}

.phone {
  font-family: 'Merriweather', serif;
  font-weight: 400;
  font-style: italic;
  padding: 21px 0 15px 0;
  @include breakpoint(md-down) {
    padding: 15px 0 10px 0;
  }
  .icon-phone-icon {
    margin-right: 5px;
  }
  a {
    color: #262223;
    &:hover {
      text-decoration: none;
    }
  }
}
.address {
  font-family: 'Merriweather', serif;
  font-weight: 400;
  font-style: italic;
  color: #262223;
  margin: 0;
  .icon-address-icon {
    margin-right: 10px;
  }
}

.logo {
  display: block;
  @include breakpoint(sm-down) {
    max-width: 85px;
    margin-left: 3px;
  }
}

.main {
  padding-top: 105px;
  @include breakpoint(md-down) {
    padding-top: 75px;
  }
  @include breakpoint(sm-down) {
    padding-top: 65px;
  }
}


.preambule {
  background: url("../img/preambule-bg.jpg") center center no-repeat;
  background-size: cover;
  min-height: 842px;
  position: relative;
  &__inner {
    width: 770px;
    padding: 53px 10px 58px 10px;
    background: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    border: 1px solid #994e3d;
    transform: translate(-50%, -50%);
    @include breakpoint(md-down) {
      position: static;
      transform: translate(0, 0);
      width: 100%;
    }
    @include breakpoint(sm-down) {
      padding: 10px;
    }
    h1 {
      font-family: 'Merriweather', serif;
      font-weight: 600;
      font-style: italic;
      text-transform: uppercase;
      color: #262223;
      font-size: 30px;
      text-align: center;
      padding: 33px 0 14px 0;
      @include breakpoint(sm-down) {
        font-size: 24px;
      }
    }
    h3 {
      font-size: 18px;
      text-align: center;
      color: #262223;
      margin-bottom: 34px;
    }
  }
  @include breakpoint(md-down) {
    min-height: inherit;
    padding: 20px;
  }
}
.bigban {
  background: url("../img/bigban.png") no-repeat;
  width: 104px;
  height: 128px;
  display: block;
  margin: 0 auto;
}

.sendForm {
  text-align: center;
  &__input {
    vertical-align: top;
    border: 1px solid #c44738!important;
    width: 300px;
    height: 50px;
    line-height: 48px;
    padding: 0 15px;
    font-size: 14px;
    color: #aeadad;
    @include breakpoint(sm-down) {
      width: 100%;
      margin-bottom: 10px;
    }
  }
  &__btn {
    vertical-align: top;
    border-color: rgb(196, 71, 56);
    background-image: -moz-linear-gradient( 90deg, rgb(127,7,7) 0%, rgb(204,48,48) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(127,7,7) 0%, rgb(204,48,48) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(127,7,7) 0%, rgb(204,48,48) 100%);
    border: 1px solid #c44738;
    width: 120px;
    height: 50px;
    line-height: 48px;
    padding: 0;
    text-align: center;
    font-size: 14px;
    color: #fff;
    margin-left: 7px;
    @include breakpoint(sm-down) {
      width: 100%;
      margin: 0;
    }
  }
}

.questions {
  padding: 0 0 30px 0;
  &__title {
    padding: 75px 0 40px 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-weight: 600;
    font-size: 48px;
    @include breakpoint(sm-down) {
      padding: 25px 0;
    }
  }
}
.question {
  position: relative;
  padding: 0 0 62px 0;
  @include breakpoint(sm-down) {
    padding-bottom: 31px;
  }
  &__head {
    display: flex;
    align-items: center;
    cursor: pointer;
    &:before {
      flex-shrink: 0;
      content: '+';
      background: #b31e1d;
      width: 70px;
      height: 70px;
      line-height: 70px;
      cursor: pointer;
      border-radius: 50%;
      color: #fff;
      text-align: center;
      font-size: 48px;
      @include breakpoint(sm-down) {
        width: 35px;
        height: 35px;
        line-height: 35px;
        font-size: 24px;
      }
    }
    &.active {
      &:before {
        content: '-';
        line-height: 58px;
        @include breakpoint(sm-down) {
          line-height: 28px;
        }
      }
    }
  }
  &__title {
    font-size: 30px;
    margin: 0;
    padding: 0 0 0 26px;
    line-height: 1.5;
    flex-grow: 1;
    @include breakpoint(sm-down) {
      padding-left: 15px;
      font-size: 22px;
    }
  }
  &__body {
    display: none;
    font-size: 18px;
    color: #666161;
    margin: 0;
    padding: 10px 0 0 100px;
    @include breakpoint(sm-down) {
      padding-left: 50px;
    }
    b {
      color: #000;
      margin-right: 5px;
    }
  }
}

.students {
  background: url("../img/students-bg.jpg") center no-repeat;
  background-size: cover;
  padding: 0 0 100px 0;
  @include breakpoint(sm-down) {
    padding-bottom: 50px;
  }
  &__title {
    text-align: center;
    color: #fff;
    padding: 73px 0 53px 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-weight: 600;
    font-size: 48px;
    @include breakpoint(sm-down) {
      padding: 25px 0;
    }
  }
}
.studentsList {
  border: 1px solid #fff;
  border-width: 0 1px 1px 1px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  &__item {
    list-style: none;
    flex-grow: 1;
    img {
      width: 100%;
      height: 100%;
      border: 1px solid #fff;
      border-width: 1px 0 0 1px;
    }
  }
}

.teachers {
  &__title {
    padding: 73px 0 53px 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-weight: 600;
    font-size: 48px;
    @include breakpoint(sm-down) {
      padding: 25px 0;
    }
  }
}

.teachersList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  @include breakpoint(lg-down) {
    justify-content: space-around;
  }
  &__item {
    list-style: none;
    margin: 0 0 25px 0;
    a {
      text-decoration: none;
      color: #3c3839;
      figure {
        img {
          border: 1px solid #000;
        }
        figcaption {
          display: block;
          text-align: center;
          font-size: 30px;
          padding: 14px 0 0 0;
        }
      }
      &:hover {
        color: #b92626;
        figure {
          img {
            transform: scale(1.2);
            border-color: #b92626;
          }
        }
      }
    }
  }
}

.footer {
  border-top: 11px solid #821d1d;
  position: relative;
  iframe {
    width: 100%;
    height: 681px;
    @include breakpoint(sm-down) {
      height: 340px;
    }
  }
  &__contacts {
    background: url("../img/footer__contacts-bg.png");
    width: 760px;
    height: 352px;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Merriweather', serif;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    @include breakpoint(sm-down) {
      width: 100%;
      position: static;
      transform: translate(0,0);
      height: 200px;
      flex-wrap: wrap;
      align-content: center;
    }
  }
  &__phone {
      display: flex;
      align-items: center;
      padding: 0 11px;
      @include breakpoint(sm-down) {
        padding: 11px;
      }
      a {
        color: #fff;
        &:hover {
          text-decoration: none;
        }
      }
      span {
        margin-right: 9px;
      }
  }
  &__address {
    display: flex;
    align-items: center;
    padding: 0 11px;
    margin: 0;
    line-height: inherit;
    @include breakpoint(sm-down) {
      padding: 11px;
    }
    span {
      margin-right: 9px;
    }
  }
}

.slicknav_menu {
  display:none;
}
@media screen and (max-width: 767px) {
  /* #menu is the original menu */
  .menu {
    display:none;
  }

  .slicknav_icon-bar {
    transition: all 0.3s ease-in;
  }
  .slicknav_btn.slicknav_open .slicknav_icon-bar {position: absolute; top: 10px;}
  .slicknav_btn.slicknav_open  .slicknav_icon-bar:first-child {display: none;}
  .slicknav_btn.slicknav_open  .slicknav_icon-bar:nth-child(2) {transform: rotate(45deg);}
  .slicknav_btn.slicknav_open  .slicknav_icon-bar:nth-child(3) {transform: rotate(-45deg);}

  .slicknav_nav ul {
    margin: 0;
  }

  .slicknav_menu {
    display: block;
    background: none;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 11;
    width: 100%;
    padding: 0;
  }
  .slicknav_btn {
    position: absolute;
    right: 13px;
    top: 13px;
    background: #b32b07;
    z-index: 10;
  }
  .slicknav_nav a {
    padding: 20px;
    text-transform: uppercase;
    line-height: 1.4;
    border-radius: 0;
    margin: 0;
  }
  .slicknav_nav .slicknav_row {
    padding: 20px 10px;
    margin: 0;
  }

  .slicknav_nav a:hover,.slicknav_nav .slicknav_row:hover {
    border-radius: 0;
    background-color: #b32b07;
    color: #fff;
  }

  .slicknav_nav li {
    border-radius: 0;
  }


  .slicknav_nav {
    background: #1b1a27;
    height: 100%;
    overflow-y: scroll;
    position: fixed;
    width: 100%;
    padding: 10px 0 0 0;
  }



}
