body {
  font-family: 'Exo 2', sans-serif;
  color: #252626;
  font-size: 16px; }

a {
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

img {
  width: auto\9;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic; }

.icon {
  display: inline-block;
  vertical-align: top; }

.header {
  padding: 32px 0 19px 0;
  border-bottom: 1px solid #e6e6e6; }

.menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 21px 0 0 0; }
  .menu li {
    list-style: none;
    margin: 0 32px 0 0;
    position: relative; }
    .menu li:after {
      content: '|';
      position: absolute;
      color: #777575;
      right: -17px;
      top: 9px;
      font-size: 8px; }
    .menu li:last-child:after {
      display: none; }
    .menu li a {
      font-size: 18px;
      text-transform: uppercase;
      font-weight: 500; }
      .menu li a:hover {
        text-decoration: none;
        color: #215a92; }

.contactsList {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .contactsList li {
    list-style: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 0 15px 0; }
    .contactsList li span {
      display: inline-block;
      vertical-align: top;
      margin-right: 9px; }

.smartphone {
  background-image: url("../img/svg/smartphone.svg");
  -webkit-background-size: 30px 30px;
          background-size: 30px 30px;
  width: 30px;
  height: 30px; }

.house {
  background-image: url("../img/svg/house.svg");
  -webkit-background-size: 30px 30px;
          background-size: 30px 30px;
  width: 30px;
  height: 30px; }

.preambule {
  border-bottom: 1px solid #e6e6e6;
  padding: 90px 0 110px 0; }

.title {
  padding: 0 0 0 301px; }
  .title h1 {
    font-family: 'EB Garamond', serif;
    font-size: 90px;
    letter-spacing: 8px;
    margin: 0;
    display: inline-block;
    vertical-align: top; }
  .title .arrow {
    background: url("../img/arrow.png") no-repeat;
    width: 229px;
    height: 160px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    left: -103px;
    top: 13px; }

.breif {
  color: #fff;
  font-weight: 300;
  background: #7cbc32;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  border: 2px solid #549409;
  border-width: 0 2px 2px 0;
  font-size: 24px;
  display: block;
  width: 328px;
  height: 80px;
  line-height: 80px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 2;
  letter-spacing: 2px; }
  .breif:hover {
    color: #fff;
    text-decoration: none;
    background: #549409; }

.works {
  background: #fafafb;
  border-bottom: 1px solid #e6e6e6;
  padding: 102px 0 112px 0; }
  .works__title {
    font-family: 'EB Garamond', serif;
    font-size: 40px;
    margin: 0;
    text-align: center;
    letter-spacing: 3px;
    margin: 0 0 57px 0; }

.worksSlider .item figure a {
  display: block;
  position: relative; }
  .worksSlider .item figure a img {
    display: block;
    border: 1px solid #e6e6e6; }
  .worksSlider .item figure a .plus {
    background: url("../img/svg/plus.svg") no-repeat;
    width: 64px;
    height: 64px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -32px 0 0 -32px;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }
    .worksSlider .item figure a .plus:hover {
      -webkit-transform: rotate(1turn);
          -ms-transform: rotate(1turn);
              transform: rotate(1turn); }

.worksSlider .owl-dots {
  bottom: -71px; }

.owl-dots {
  position: absolute;
  width: 100%;
  text-align: center;
  left: 0; }
  .owl-dots .owl-dot {
    outline: none; }
    .owl-dots .owl-dot span {
      display: inline-block;
      vertical-align: top;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      background: #e7e7e7;
      width: 15px;
      height: 15px;
      margin: 0 2px 0 3px; }
    .owl-dots .owl-dot.active span {
      background: #0054a6; }

.faq {
  padding: 102px 0 0 0; }
  .faq__title {
    font-family: 'EB Garamond', serif;
    font-size: 40px;
    margin: 0;
    text-align: center;
    letter-spacing: 3px;
    margin: 0 0 57px 0; }

/* Adaptive menu */
.slicknav_menu {
  display: none; }

@media screen and (max-width: 767px) {
  /* #menu is the original menu */
  .menu {
    display: none; }
  .slicknav_icon-bar {
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in; }
  .slicknav_btn.slicknav_open .slicknav_icon-bar {
    position: absolute;
    top: 10px; }
  .slicknav_btn.slicknav_open .slicknav_icon-bar:first-child {
    display: none; }
  .slicknav_btn.slicknav_open .slicknav_icon-bar:nth-child(2) {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg); }
  .slicknav_btn.slicknav_open .slicknav_icon-bar:nth-child(3) {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg); }
  .slicknav_nav ul {
    margin: 0; }
  .slicknav_menu {
    display: block;
    background: none;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 11;
    width: 100%;
    padding: 0; }
  .slicknav_btn {
    position: absolute;
    right: 13px;
    top: 13px;
    background: #b32b07;
    z-index: 10; }
  .slicknav_nav a {
    padding: 20px;
    text-transform: uppercase;
    line-height: 1.4;
    -webkit-border-radius: 0;
            border-radius: 0;
    margin: 0; }
  .slicknav_nav .slicknav_row {
    padding: 20px 10px;
    margin: 0; }
  .slicknav_nav a:hover, .slicknav_nav .slicknav_row:hover {
    -webkit-border-radius: 0;
            border-radius: 0;
    background-color: #b32b07;
    color: #fff; }
  .slicknav_nav li {
    -webkit-border-radius: 0;
            border-radius: 0; }
  .slicknav_nav {
    background: #1b1a27;
    height: 100%;
    overflow-y: scroll;
    position: fixed;
    width: 100%;
    padding: 10px 0 0 0; } }
